<div class="contact">
  <form action="POST">
    <label for="name"></label>
    <input type="text" id="name" placeholder="Name & last name" />

    <label for="email"></label>
    <input type="email" id="email" placeholder="Email address" />

    <label for="message"></label>
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message..."></textarea>
    <button>Send</button>
  </form>
</div>