{{! @root.links }}
<navbar class="nav-top">

  <h1 id="page-title">Kai Amedi</h1>
  <ul class="nav-links">
    {{#each links}}
      <li><a href="{{this}}">{{@key}}</a></li>
    {{/each}}
  </ul>

</navbar>
<div id="nav-fillgap"></div>